@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.centered-button {
	display: flex;
	justify-content: center;
}

/* .login-container {
	display: grid;
	grid-template-columns: minmax(250px, 1fr) 20px minmax(250px, 1fr);
	grid-template-rows: 40px auto;
	grid-template-areas:
		"login center-text register"
		"login divider register";
} */

.filter-container {
    position: fixed;
    left: -320px;
    top: 100px;
    width: 250px;
    overflow-y: auto;
    max-height: 80vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.filter-container.open {
    transform: translateX(320px);
}

.login-vertical-divider {
	transform: translateX(20px);
	background-color: #ddd;
	height: 100%;
	width: 2px;
	grid-area: divider;
}

.login-field {
	width: 50%;
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid #ccc;
	outline: none;
	transition: border 0.3s ease;
}

.field-label {
	display: block;
	margin-bottom: 8px;
	color: #333;
}

.field-validation-valid {
	display: block;
	margin-top: 4px;
}

.login-grid-element {
	grid-area: center-text;
}

.tag-container {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.tag-remove {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
}

.tag-container:hover .tag-remove {
    opacity: 1; /* Show only on hover */
}

.thesis-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tag-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.tt-tag {
	font-size: 1rem;
	padding: 0.4rem 1rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-md-8 {
	flex: 0 0 auto;
	max-width: 66.666667%;
}

.col-md-4 {
	flex: 0 0 auto;
	max-width: 33.333333%;
}
/* make md-cols full width on narrow viewports so they wrap/stack */
@media (max-width: 768px) {
    .col-md-8,
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.border-bottom-gray {
    border-bottom: 1px solid #6e7184;
}
