@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.centered-button {
	display: flex;
	justify-content: center;
}

.login-container {
	display: grid;
	grid-template-columns: minmax(250px, 1fr) 20px minmax(250px, 1fr);
	grid-template-rows: 40px auto;
	grid-template-areas:
		"login center-text register"
		"login divider register";
}

.login-vertical-divider {
	transform: translateX(20px);
	background-color: #ddd;
	height: 100%;
	width: 2px;
	grid-area: divider;
}

.login-field {
	width: 50%;
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid #ccc;
	outline: none;
	transition: border 0.3s ease;
}

.field-label {
	display: block;
	margin-bottom: 8px;
	color: #333;
}

.field-validation-valid {
	display: block;
	margin-top: 4px;
}

.login-grid-element {
	grid-area: center-text;
}

.tag-container {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.tag-remove {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
}

.tag-container:hover .tag-remove {
    opacity: 1; /* Show only on hover */
}

.thesis-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tag-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
